:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --body-color: #e5e5e5;
  --dark-gray-color: #2f303a;
}

body {
  color: var(--primery-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.page-header {
  background-color: var(--white-color);
}

.page-header .logo {
  font-family: raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19px;
  text-decoration: none;
}

.page-header .web {
  color: var(--accent-color);
}

.page-header .studio {
  color: var(--title-text-color);
}

/* site-nav */
.site-nav .link {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;
}

.site-nav .current {
  color: var(--accent-color);
}

.address .info:hover,
.address .info:focus {
  color: var(--accent-color);
}

.address .info {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* hero */
.filter-button .link {
  background: #f5f4fa;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-style: normal;
}

.filter-button .link:hover,
.filter-button .link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

button {
  font-family: inherit;
}
/* container portfolio */
.portfolio-section .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.portfolio-section .text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--primery-text-color);
}
.portfolio-section .link {
  width: 370px;
  height: 404px;
  text-decoration: none;
}

.portfolio-section .link:visited {
  color: var(--title-text-color);
}

/* contacts */
.contacts {
  background-color: var(--dark-gray-color);
}

.contacts .logo {
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.contacts .web {
  color: var(--accent-color);
}

.contacts .studio {
  color: var(--white-color);
}

/* address */
.work-address {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.contacts .info {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  text-decoration: none;
}
